/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  /* outline: 1px solid red; */
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--image-fill);
  background-attachment: fixed;
  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
}
s .header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 2px 13px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-item {
  padding: 2px 0;
}

.header__theme-menu-item .header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
  padding-inline: 13px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.span-text {
  position: absolute;
  right: 48px;
  top: 20px;
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.span-text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  inset-block-start: 8px;
  inset-inline-end: -18px;
  box-shadow: 0 0 4px 2px var(--border-color);
  background-color: var(--border-color);
  border-radius: 50%;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  bottom: 20px;
  left: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-text-color);
  align-self: end;
  margin-top: 20px;
}

.header__theme-menu-button {
  border: 0;
  background-color: transparent;
}

.header__heading {
  font-size: var(--heading-size-desktop);
  color: var(--heading-color);
  text-shadow: 4px 4px var(--text-shadow-color);
  line-height: 50%;
  align-self: center;
}

.header__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  max-width: 491px;
  margin-right: 20px;
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--bg-text-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
}

.section-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 20px;
  margin-block-start: 60px;
  gap: 20px 20px;
}

.section-question__heading {
  margin-right: 20px;
  max-width: 315px;
}

.section-question__grid {
  max-width: 649px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.low-heading__text {
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
}

.content-text {
  color: var(--text-color);
  font-weight: 400;
  margin-block-start: 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.accent-text {
  text-shadow: 2px 2px var(--accent-shadow-color);
  text-decoration: none;
}

.accent-text:hover {
  border-bottom: 1px solid var(--text-color);
}

.accent-text:focus {
  outline: none;
}

.accent-text:focus-visible {
  outline: 1px solid var(--text-color);
}

.info {
  margin-inline: 20px;
}

.info__heading {
  margin-block-start: 80px;
  margin-block-end: 20px;
  max-width: 315px;
}

.info__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.thin-text {
  font-weight: 400;
}

.advice {
  margin-bottom: 80px;
  margin-top: 80px;
}

.pictures {
  margin-inline: 20px;
}

.pictures__text {
  margin-block-end: 20px;
}

.images {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.sunset {
  width: var(--image-resolution);
  height: var(--image-resolution);
  grid-area: sunset;
  object-fit: var(--image-fill);
}

.tape {
  width: var(--image-resolution);
  height: var(--image-resolution);
  grid-area: tape;
  object-fit: var(--image-fill);
}

.ice-cream {
  width: var(--image-resolution);
  height: var(--image-resolution);
  grid-area: ice-cream;
  object-fit: var(--image-fill);
}

.books {
  width: var(--image-resolution);
  height: var(--image-resolution);
  grid-area: books;
  object-fit: var(--image-fill);
}

.street {
  width: var(--image-resolution);
  height: var(--image-resolution);
  grid-area: street;
  object-fit: var(--image-fill);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
  height: 100vh;
  position: relative;
  min-height: 668px;
}

.footer__heading {
  font-size: var(--heading-size-desktop);
  color: var(--heading-color);
  text-shadow: 2px 2px var(--text-shadow-color);
}

@media (width <= 768px) {
  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.5px 0;
  }

  .header__heading {
    line-height: 99px;
    font-size: var(--heading-size-mobile);
  }

  .header__text {
    max-width: 364px;
    margin-bottom: 183px;
    align-self: flex-end;
  }

  .section-question__grid {
    max-width: 472px;
  }

  .info__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }

  .low-heading__text {
    max-width: 236px;
  }

  .footer {
    font-size: var(--heading-size-mobile);
  }
}

@media (width <= 410px) {
  .section-question {
    display: block;
    margin-inline: 10px;
    margin-block-start: 40px;
  }
  .header__text {
    margin-inline: 10px;
    margin-bottom: 65px;
  }

  .header__heading {
    line-height: 80%;
    margin-inline: 10px;
    max-width: 355px;
  }
  .header__theme-menu {
    padding-right: 10px;
  }

  .header__theme-menu-list {
    gap: 10px;
    margin-top: 0px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .span-text {
    right: 38px;
    top: 10px;
  }

  .span-text::after {
    inset-block-start: 8px;
    inset-inline-end: -18px;
  }

  .low-heading__text {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .info {
    margin-inline: 10px;
  }

  .info__heading {
    margin-block-start: 50px;
  }

  .decorated-zone__footer::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone__footer::after {
    top: 10px;
    right: 10px;
  }

  .info__text-block {
    max-height: 335px;
  }

  .advice {
    margin-bottom: 50px;
  }

  .heading__advice-how {
    margin-right: 0;
    margin-block-start: 100px;
  }

  .pictures {
    margin-inline: 10px;
  }

  .pictures__text {
    margin-bottom: 10px;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  .footer {
    margin-block-start: 40px;
    letter-spacing: -2px;
    line-height: 95.7;
  }
}
